<div>
  <div>
    <div class="flex items-center">
      <div class="flex-none hover:bg-gray-100 rounded-full p-1 cursor-pointer" data-modal-target="closeButton">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </div>
    <div class="flex-grow mt-7 ml-2">
      <h2 class="text-xl font-semibold">About this place</h2>
        <p class=" mt-4 text-base text-gray-900"><%= content_params[:flat].description %></p>
    </div>
  </div>
</div>
